{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for message in messages %}
    {{message}}
{% endfor %}
<form method="post">{% csrf_token %}
<label for="amount">Kwota</label>
    <input type="number" step="0.01" name="amount" id="amount" required>

    <label for="category">Kategoria przychodu</label>
    <select name="category" id="category" required>
        {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>

    <label for="description">Opis przychodu</label>
    <input type="text" name="description" id="description" required>

    <input type="submit" value="dodaj">
</form>
</body>
</html>
{% endblock %}